<h1>Undo Memo</h1>
<ul>
	<% @notices_undo.each do |notice| %>
		<li>
			<h3 data-toggle="modal" data-target="#myModal"><%= notice.event %></h3>
			<%= render 'notice_modal', notice: notice %>
		</li>
	<% end %>
</ul>
