<h1>Undo Memo</h1>
<ul>
	<% @notices_undo.each do |notice| %>
		<li><%= link_to notice.event, notice  %></li>
	<% end %>
</ul>


<h1>Completed Memo</h1>

<ul>
	<% @notices_done.each do |notice| %>
	<li><%= link_to notice.event, notice  %></li>
	<% end %>
</ul>


