<table class="table table-bordered">
	<thead>
		<tr>
			<th>Event</th>
			<th>Location</th>
			<th>When</th>
			<th>P.S</th>
			<th colspan="2">Options</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @notice.event %></td>
			<td><%= @notice.location %></td>
			<td><%= @notice.event_time %></td>
			<td><%= @notice.postscript %></td>
			<td></td>
		</tr>
	</tbody>
</table>