<div class="container">
  	<div class="jumbotron" style="text-align: center;">
	    <h1>Add your Memo to remind you something to do </h1> <br> 
	    <h4>This is an useful app I practice and you can sign up to test this app</h4>  <br>
	    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg"  %>
	  </div>	
</div>